.home-screen-container {
  width: 100%;
  height: 100vh;
  background-color: rgb(59, 57, 57);
  margin: 0;
  padding: 0;
}

.home-screen-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.home-screen-navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
}

.home-screen-currency-converter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #06fc81;
  position: relative;
}

.selector-currency-converter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.home-screen-graphic-container {
  width: 60%;
  height: 55%;
  border-radius: 12px;
  /* background-color: rgb(12, 12, 12); */
  background-color: rgb(59, 57, 57);

  position: absolute;
  top: 292px;
}

.cotation-subtitle {
  margin-top: 4px;
}
